extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Yeshaya Coffman

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            |  Hello I'm Yeshaya! I'm a aspiring full stack JavaScript developer with many skills that will be of interest to many future employers!
            | 
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li CSS Animations
          li JS
          li jQuery
          li HTTP
          li AJAX
          li Nodejs
          li Express
          li Pug
        h6 Contact Info

        ul
          li 555-555-5555
          li yeshayacoffman@email.com

        a.button.expanded(href='https://www.linkedin.com/') LinkedIn
        a.button.expanded(href='https://github.com/yeshco') GitHub
        a.button.expanded(href='https://twitter.com/yeshayacoffman') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
